.login {
    height: 50vh;
    .info, .github {
        text-align: center;
    }
    .info {
        margin-bottom: 50px;
        margin: auto;
        width: 80%;
        P {
            font-weight: 300;
            margin-bottom: 5px;
        }
    }
    .github {
        margin-top: 60px;
        a {
            font-size: 11px;
            text-decoration: none;
            &:hover {
                color: rgba(121, 121, 121, 0.576);
                text-decoration: underline;
            }
        }

    }
    .palette {
        display: flex;
        margin-top: 25px;
        justify-content: center;
        gap: 5px;
        opacity: .3;
        animation: converge 1s ease-in-out forwards;
        div {
            display: grid;
            place-content: center;
            height: 18px;
            width: 18px;
            border-radius: 50%;
            border: 1px solid transparent;
            cursor: pointer;
            transition-duration: 50ms;
            .check-icon {
                font-size: .8rem;
            }
            &:hover {
                transform: scale(.98);

            }
        }
       
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        input, button {
          height: 40px;
          font-family: inherit;
        }
        input {
            width:  230px;
            padding: 15px;
            margin-bottom: 8px;
            color: inherit;
            border-radius: 5px;
            border: 1px solid transparent;
            &::placeholder {
                font-size: .8rem;
                color: #8f8f8f;
            }
            &:focus {
                box-shadow: 0px 0px 0px .5px rgba(124, 124, 124, 0.597);
            }
            
        }
        button {
            transition: opacity 200ms cubic-bezier(.97,.75,.87,.78);
            cursor: pointer;
            display: grid;
            padding: 5px;
            width: 40px;
            border-radius: 50%;
            place-content: center;
        }
    }
}
@keyframes converge {
    to {
        opacity: 1;
    }
}
@media screen and (min-width: 600px) {
    .login {
        .info {
            width: 100%;
        }
    }
}