.header-logo {
    margin: auto;
    width: 100%;
    display: grid;
    place-content: center;
    height: 20vh;
    .logo-container {
        .chat-icon {
            font-size: 2rem;
            transition: color 1s ease;
               }
        h1 {
            margin-top: -10px;
            font-size: 1.65rem;
        }
        p {
            font-size: .7rem;
        }
    }
}
