.room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    padding-top: 0px;
    height: 50vh;
    overflow-y: hidden;
    animation: room 1s cubic-bezier(0,.99,.47,1) forwards;
    .arrow-down {
        position: absolute;
        bottom: 100px;
        z-index: 1;
        left: 50%;
        transform: translateX(-50%);
        display: grid;
        place-content: center;
        border-radius: 50%;
        padding: 2px;
        cursor: pointer;
        opacity: .8;
        transition-duration: 100ms;
        transform: scale(0);
        animation: s 150ms ease-in-out forwards;
        &:hover {
            opacity: 1;
        }
        .down-icon {
            font-size: 1.3rem;
        }
    }
    .messages-block {
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        padding: 0px 15px 60px 15px;
        &::-webkit-scrollbar {
            width: 6px;
          }
        &::-webkit-scrollbar-track {
            background: none;
          }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(123, 123, 123, 0.446);
            transition-duration: 250ms;
            &:hover {
                background-color: rgba(124, 124, 124, 0.582);
            }
          }
        scrollbar-width: thin;
    }
    form {
        border-radius: 90px;
        display: flex;
        border: 1px solid transparent;
        margin-bottom: 10px;
    }
    input {
        padding: 13px;
        flex: .92;
        font-family: inherit;
        color: inherit;
        &::placeholder {
            padding-left: 5px;
        }
       
    }
    button {
        flex:.08;
        transition: transform 150ms ease-in-out;
        cursor: pointer;
        display: grid;
        place-content: center;
        .send-icon {
            font-size: 1.7rem;
        }
    }
    .fade {
        transform: scale(0) rotate(60deg);
    }
}
@keyframes room {
    100% {
        height: 80vh;
    }
}
@keyframes s {
    to {
        transform: scale(1);
    }
}
@media screen and (min-width: 800px) {
   .room {
    width: 50%;

   }
}