@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input {
  outline: none;
  border: none;
  background: none;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App, .App .login .info, .App .login input, .App .room form, .App .logo-container, .App .msg-container .msg, .App .day-first-ms-date, .App .flesh {
  transition: all 200ms ease-in-out;
}

.login {
  height: 55vh;
}

.login .info, .login .github {
  text-align: center;
}

.login .info {
  margin-bottom: 50px;
  margin: auto;
  width: 80%;
}

.login .info P {
  margin-bottom: 5px;
}

.login .github {
  margin-top: 60px;
}

.login .github a {
  font-size: 11px;
  text-decoration: none;
}

.login .github a:hover {
  color: rgba(121, 121, 121, 0.576);
  text-decoration: underline;
}

.login form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.login form input, .login form button {
  height: 40px;
  font-family: inherit;
}

.login form input {
  width: 230px;
  padding: 15px;
  color: inherit;
  border-radius: 5px;
  border: 1px solid transparent;
}

.login form input::placeholder {
  font-size: .8rem;
  font-weight: 400;
  color: #a2a2a2;
}

.login form input:focus {
  box-shadow: 0px 0px 0px 0.5px rgba(138, 138, 138, 0.597);
}

.login form button {
  margin-top: 20px;
  transition: opacity 200ms cubic-bezier(0.97, 0.75, 0.87, 0.78);
  cursor: pointer;
  display: grid;
  padding: 5px;
  width: 40px;
  border-radius: 50%;
  place-content: center;
}

.login form .palette {
  display: flex;
  justify-content: center;
  gap: 5px;
  opacity: .3;
  animation: converge 1s ease-in-out forwards;
}

.login form .palette div {
  display: grid;
  place-content: center;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  transition-duration: 50ms;
}

.login form .palette div .check-icon {
  font-size: .8rem;
  color: white;
}

.login form .palette div:hover {
  transform: scale(0.98);
}

@keyframes converge {
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 600px) {
  .login .info {
    width: 100%;
  }
}

.header-logo {
  position: relative;
  margin: auto;
  width: 100%;
  display: grid;
  place-content: center;
  height: 20vh;
  font-family: 'Nunito', sans-serif;
}

.header-logo .logo-container .chat-icon {
  font-size: 2rem;
  transition: color 1s ease;
}

.header-logo .logo-container h1 {
  margin-top: -15px;
  font-size: 1.7rem;
}

.room {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  padding-top: 0px;
  height: 55vh;
  overflow-y: hidden;
  animation: room 1s cubic-bezier(0, 0.99, 0.47, 1) forwards;
}

.room .arrow-down {
  position: absolute;
  bottom: 100px;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  place-content: center;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  opacity: .8;
  transition-duration: 100ms;
  transform: scale(0);
  animation: s 150ms ease-in-out forwards;
}

.room .arrow-down:hover {
  opacity: 1;
}

.room .arrow-down .down-icon {
  font-size: 1.3rem;
}

.room .messages-block {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 0px 15px 60px 15px;
  scrollbar-width: thin;
}

.room .messages-block::-webkit-scrollbar {
  width: 6px;
}

.room .messages-block::-webkit-scrollbar-track {
  background: none;
}

.room .messages-block::-webkit-scrollbar-thumb {
  background-color: rgba(123, 123, 123, 0.446);
  border-radius: 5px;
  transition-duration: 250ms;
}

.room .messages-block::-webkit-scrollbar-thumb:hover {
  background-color: rgba(124, 124, 124, 0.582);
}

.room form {
  border-radius: 90px;
  display: flex;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.room input {
  padding: 13px;
  flex: .92;
  font-family: inherit;
  color: inherit;
}

.room input::placeholder {
  padding-left: 5px;
}

.room button {
  flex: .08;
  transition: transform 150ms ease-in-out;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.room button .send-icon {
  font-size: 1.7rem;
}

.room .fade {
  transform: scale(0) rotate(60deg);
}

@keyframes room {
  100% {
    height: 80vh;
  }
}

@keyframes s {
  to {
    transform: scale(1);
  }
}

@media screen and (min-width: 800px) {
  .room {
    width: 50%;
  }
}

.day-first-ms-date {
  margin: 10px auto;
  font-size: .75rem;
  width: fit-content;
  border-radius: 15px;
  font-weight: 500;
  padding: 5px 10px;
}

.msg-container {
  display: flex;
  clear: both;
  max-width: 80%;
}

.msg-container .avatar-container {
  position: relative;
  min-width: 35px;
}

.msg-container .avatar-container .avatar {
  position: absolute;
  bottom: 0;
  height: 25px;
  width: 25px;
  font-size: 13px;
}

.msg-container .msg {
  border-radius: 10px;
  margin: 2px;
  padding: 12px 12px 0px 12px;
  word-wrap: break-word;
  opacity: 0;
  transform: scale(0);
  animation: f 200ms ease-in-out forwards;
}

.msg-container .msg .name {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 500;
}

.msg-container .msg .text {
  font-size: 13px;
}

.msg-container .msg .time {
  margin-left: 15px;
  float: right;
  padding: 5px;
  font-size: .75rem;
}

.msg-container .last-msg-sender {
  border-bottom-right-radius: 0px;
}

.msg-container .last-msg-sender .flesh {
  right: -18px;
}

.msg-container .last-msg-others {
  border-bottom-left-radius: 0px;
}

.msg-container .last-msg-others .flesh {
  left: -18px;
}

.msg-container .flesh {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  position: absolute;
  bottom: 0;
}

@keyframes f {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.spiner {
  height: 55vh;
  display: flex;
  column-gap: 2px;
}

.spiner div {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  animation: spin 400ms ease-in-out infinite alternate;
}

.spiner div:nth-child(1) {
  animation-delay: 100ms;
}

.spiner div:nth-child(2) {
  animation-delay: 200ms;
}

.spiner div:nth-child(3) {
  animation-delay: 300ms;
}

@keyframes spin {
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}

.toggle {
  position: absolute;
  width: 46px;
  height: 25px;
  padding: 2px;
  right: 20px;
  top: 20px;
  border-radius: 18px;
  background-color: #595959;
}

.toggle input, .toggle div {
  position: absolute;
}

.toggle input {
  z-index: 1;
  width: 54px;
  height: 27px;
  opacity: 0;
  cursor: pointer;
}

.toggle input:checked ~ div {
  transform: translateX(100%);
}

.toggle > div {
  height: 21px;
  width: 21px;
  background-color: white;
  border-radius: 50%;
  color: #595959;
  display: grid;
  place-content: center;
  transition: transform 500ms cubic-bezier(0.38, 0.79, 0.47, 1);
}

.toggle > div .mode-icon {
  font-size: .7rem;
  transform: scale(0);
  animation: rise 200ms ease-in forwards;
}

@keyframes rise {
  to {
    transform: scale(1) rotate(1turn);
  }
}
/*# sourceMappingURL=index.css.map */